body {
  margin: 0px;
}

.flex-container {
  display: flex;
}

.fb-80 {
  flex-basis: 80%;
}

.fb-70 {
  flex-basis: 70%;
}

.justify-content-center {
  justify-content: center;
}

.mr-auto {
  margin-right: auto;
}

.fg-10 {
  gap: 10px;
}

.fg-24 {
  gap: 24px
}

.hero-secondary-text,
.hero-link-text {
  color: #E5E7EB;
  font-size: 18px;
}

.nav-header {
  background-color: #1F2937;
}

.nav-heading {
  font-weight: bold;
  font-size: 24px;
}


.pt-16 {
  padding-top: 16px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-128 {
  padding-bottom: 128px;
}

.fd-column {
  flex-direction: column;
}

.flex-auto {
  flex: auto;
}

.flex {
  flex: 1;
}

img {
  max-width: 100%;
}

.nav-heading,
.hero-main-text {
  color: #F9FAF8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}

button,
.call-to-action {
  background-color: #3882F6;
}

button {
  color: white;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
  padding: 8px 24px;
}

.information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.w-70 {
  width: 70%;
  margin: auto;
}

.information-text {
  text-align: center;
}